<div class="whole_block">
  <div class="country">{{name}}</div>
  <div class="wrapper">
    <div class="block_left">
      <div class="capital"><p class="boldness">Capital: </p> {{capital}}</div>
      <div class="population"><p class="boldness">Population: </p> {{population}}</div>
      <div class="languages"><p class="boldness">Languages: </p></div>
        <ul class="languages_list">{{#each languages}}
          <li>- {{this.name}}</li>
        {{/each}}</ul>
      </div>
    
    <img class="block_right" src="{{flag}}" alt="country flag" style="width: 200px;">
  </div>
</div>